{% extends 'training/base.html' %}

{% block title %}
Training
{% endblock %}

{% block content %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Симулятор биржи</h1>
        <p class="fs-5 text-muted">Даётся стартовый баланс 1000$ и на эти деньги покупаются/продаются акции по стоимости, предоставленной на сайте Yahoo! в момент использования. Можно посмотреть информацию о пользователях, сколько акций на вашем счету и т.д.</p>
        <a class="btn btn-outline-primary margin-center" href="#">Зарегистрироваться</a>
    </div>
{% endblock %}
