{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Забыли пароль?{% endblock %}
{% block content %}
<f class="container my-10 rounded text-center">
    <h1>Забыли пароль?</h1>
    <p>Введите свой адрес электронной почты ниже, и мы отправим вам инструкции по настройке нового адреса по электронной почте.</p>
    <form method="POST">
        {% csrf_token %} {{ form|crispy }}
        <input class="w-2 pressed-button" type="submit" value="Отправить инструкцию!">
    </form>
</f>
{% endblock %}