{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Введите новый пароль{% endblock %}
{% block content %}
<div class="container m-5">
    <div class="row justify-content-center">
        <div class="col-6 bg-dark p-3 rounded text-white">
            <h1 class="py-3 text-center text-white">Установите новый пароль</h1>
            <form method="post">
                {% csrf_token %} {{ form|crispy }}
                <input class="mt-3 pressed-button text-center" type="submit" value="Изменить пароль">
            </form>
        </div>
    </div>
</div>
{% endblock %}